<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview Help</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    
    <div class="row">
      <div class="col-lg-6 text-center container mt-4">
        <h3><strong>About US:</strong></h3> 
        <p>
          We are group professional who have rich experience into different software technologies. Over the period we have seems ins & outs, as well as goods & bad's of the market and how people struggle in clearing the technical interviews. 
          
          Market is scouting for skilled professionals on different skill sets, lot of developers and admins are falling flat either they haven't prepared well for the interview or not able to present what they know. 
          Also, professionals are not able to keep up with the growing enhancements with in particular technology. Every day new improvements were made and projects expects them to be ready to work on these. 
          
          Considering these all, to improve the Job seeker's presentation skills we have brought in InterviewHelp.Me platform. Using this platform you can prepare well for the interviews & answers to the frequently asked questions are more natural, so that it will be easy during your practice things. 
          
          We are adding more & more different ways that helps a job seeker to be confident about interview & crack the opportunities presented.
        </p>
      </div>
      <div class="col-lg-6 rounded mx-auto d-block">
        <img src="../img/3969587.jpg" alt="about" width="80%" height="80%" > 
      </div>
    </div>

    <footer class="footer-distributed">

      <div class="footer-left">
        

        <p class="footer-links">
          <a href="/terms_condition" target="_blank">Terms & conditions</a>
          <a href="/privacy_policy"  target="_blank">Privacy policy</a>
          <a href="/return_policy" target="_blank"><span>Return policy</span></a>
        </p>
      </div>

      <div class="footer-center">



      </div>

      <div class="footer-right">

        <p class="footer-links">
          <a href="/contactUs" target="_blank"><span>Contact Us</span></a>
          <a href="/aboutUs" target="_blank"><span>About Us</span></a>
        </p>

      </div>

    </footer> 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
