<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Policy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


    <div class="jumbotron" style="    margin: 25px;
    padding: 21px;">
        <h3><strong>About US:</strong></h3> 
        <p>
          We are group professional who have rich experience into different software technologies. Over the period we have seems ins & outs, as well as goods & bad's of the market and how people struggle in clearing the technical interviews. 
          
          Market is scouting for skilled professionals on different skill sets, lot of developers and admins are falling flat either they haven't prepared well for the interview or not able to present what they know. 
          Also, professionals are not able to keep up with the growing enhancements with in particular technology. Every day new improvements were made and projects expects them to be ready to work on these. 
          
          Considering these all, to improve the Job seeker's presentation skills we have brought in InterviewHelp.Me platform. Using this platform you can prepare well for the interviews & answers to the frequently asked questions are more natural, so that it will be easy during your practice things. 
          
          We are adding more & more different ways that helps a job seeker to be confident about interview & crack the opportunities presented.
        </p>
     </div>


     <footer class="footer-distributed">

      <div class="footer-left">
        <p class="footer-links">
          <a href="/privacy_policy"  target="_blank">Privacy policy</a>
        </p>

        <p class="footer-company-name">interviewhelp.me &copy; 2022</p>
      </div>

      <div class="footer-center">

        <div>
          <a href="/terms_condition" target="_blank"><p>Terms & conditions</p></a>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <a href="/return_policy" target="_blank"><span>Return policy</span></a>
          <a href="/aboutUs" target="_blank"><span>About Us</span></a>
        </p>

      </div>

    </footer> 



</body>

</html>