<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interview Help</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/v2_styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
</style>

<body>

  <div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="../img/3969587.jpg" alt="about" width="100%" height="100%">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-6 query_section">
        <div class="row">
          <p>What are the differences between Continuous Integration, Continuous Delivery, and Continuous Deployment?
          </p>
        </div>
        <div class="row mb-2">
          <p>How to setup jenkins to execute a schedule job/pipeline & how it is triggered?</p>
        </div>
        <div class="row mb-2">
          <p>Don't worry InterviewHelp Platform will assist you in preparing best for interviews & getting a job
            opportunity.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="login-container">
    <div class="center">
      <a href="/auth/google" class="btn btn-danger btn-login"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
  </div>

  <div class="answer-container">
    <p>Answers are fine tuned for you, so that interviewer <br> gets impressed.</p>
  </div>

  <div class="feedback-queries">
    <div class="row">
      <div class="col-lg-4">
        <img src="../img/3969587.jpg" alt="about" width="80%" height="80%">
      </div>
      <div class="col-lg-4">
        <img src="../img/3969587.jpg" alt="about" width="80%" height="80%">
      </div>
      <div class="col-lg-4">
        <img src="../img/3969587.jpg" alt="about" width="80%" height="80%">
      </div>
    </div>
  </div>

  <div class="login-container mb-4">
    <div class="center">
      <a href="/auth/google" class="btn btn-danger btn-login"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
</body>

</html>
