<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>InterviewHelp</title>
    <!-- Bootstrap CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/bootstrap-selector/css/bootstrap-select.min.css">
  <!--icon font css-->
  <link rel="stylesheet" href="vendors/animation/animate.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="body_wrapper">

        <section class="login_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4">
                        <div class="login_info">
                            <h5 class="f_p f_700 f_size_40 t_color3 mb_20">Register</h5>
                            <form action="/register-user" method="post" class="login-form mt_10 mb_10">
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Email</label>
                                    <input type="text" placeholder="abc@gmail.com" name="email">
                                </div>
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Full Name</label>
                                    <input type="text" placeholder="Droitlab" name="name">
                                </div>
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Password</label>
                                    <input type="password" placeholder="******" name="password">
                                </div>
                                <button type="submit" class="btn_three">Signup in</button>
                                <div class="alter-login text-center mt_30">
                                    Already user? <a class="login-link" href="/login-user">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/propper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="vendors/wow/wow.min.js"></script>
  <script src="vendors/sckroller/jquery.parallax-scroll.js"></script>
  <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
  <script src="js/Tempmain.js"></script>
</body>

</html>