<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">Intadmin</a>
      <form class="form-inline" action="/logout">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </nav>

      <!-- Drop Down Section -->
    <section id="tech_role_selection">
      <p class="job_role">Job Role</p>
      <div class="rolecontent" >
        <select class="custom-select form-control" id="techValue" onchange="techValue()">
          <option selected>Select category</option>
          <%  techList.forEach(function(tech_category){ %>   
          <option value="<%= tech_category %>"><%= tech_category %></option>
          <% }) %>
        </select>
      </div>
    </section>

    <!-- Question & tags sections -->
    <section id="question_tags_selection">
        <!-- <div class="container"> -->
            <div class="row">
              <div class="col tags_div" style="margin-right: 10px !important">
                <div class="card" >
                    <p class="select_Category" style="text-align: center!important;">Tags</p>
                    <div class="card-body">
                      <ul class="tags">
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="col tags_div" style="margin-left: 10px !important">
                <div class="card" >
                    <p class="select_Category" style="text-align: center!important;">Questions</p>
                    <div class="card-body question_section">
                      
                    </div>
                  </div>
              </div>
            </div>
          <!-- </div> -->
    </section>

    <!-- footer -->
    <footer class="footer-distributed">

      <div class="footer-left">
        

        <p class="footer-links">
          <a href="/terms_condition" target="_blank">Terms & conditions</a>
          <a href="/privacy_policy"  target="_blank">Privacy policy</a>
          <a href="/return_policy" target="_blank"><span>Return policy</span></a>
        </p>
      </div>

      <div class="footer-center">



      </div>

      <div class="footer-right">

        <p class="footer-links">
          <a href="/contactUs" target="_blank"><span>Contact Us</span></a>
          <a href="/aboutUs" target="_blank"><span>About Us</span></a>
        </p>

      </div>

    </footer> 


    <!-- footer end -->

    <!-- ANSWER MODAL -->
    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="answerCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="close_answer()" >Close</button>
      </div>
    </div>
  </div>
</div>

    <script src="/js/regular.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
