<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Policy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <div class="jumbotron" style="    margin: 25px;
    padding: 21px;">
        <h3><strong>Return Policy</strong></h3> 
        <p>Last updated June 20, 2022
         Thank you for your purchase. We hope you are happy with your purchase. However, if you are not completely
         satisfied with your purchase for any reason, you may return it to us for a full refund only. Please see below
         for more information on our return policy.</p> 
         
         <h3><strong>Returns</strong></h3> 
         <p>All returns must be postmarked within Three (3) days of the purchase date. Any return made beyond these days
         will not be considered for refund. We considered 3 days is good enough to understand what we offer and its
         practical benefits to you for technical interview preparations.</p> 
         
         <h3><strong>Return Process</strong></h3> 
         <p>To return an item, please email customer service at <a href="mailto:InterviewHelpme@gmail.com"><strong>InterviewHelpme@gmail.com</strong></a>. After the email has been sent, we
         will be going through the details mentioned & take an appropriate decision accordingly. We may reach out to you
         for any further clarifications needed before initiating the refund process.</p> 
        
         <h3><strong> Refunds</strong></h3>
         <p>After receiving your return and inspecting the condition of your item, we will process your return. Please allow
         at least seven (7) days from the receipt of your item to process your return. Refunds may take 1-2 billing
         cycles to appear on your credit card statement, depending on your credit card company. We will notify you by
         email when your return has been processed.</p> 
         
         <h3><strong> Exceptions</strong></h3>
         <p>For defective or damaged products, please contact us at the contact details below to arrange a refund or
         exchange.</p> 
 
         <h3><strong> Questions</strong></h3>
         <p>If you have any questions concerning our return policy, please contact us at <a href="mailto:InterviewHelpme@gmail.com"><strong>InterviewHelpme@gmail.com</strong></a> </p> 
 
 
     </div>




</body>

</html>