<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>InterviewHelp Me</title>
  <!-- Bootstrap CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/bootstrap-selector/css/bootstrap-select.min.css">
  <!--icon font css-->
  <link rel="stylesheet" href="vendors/animation/animate.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
	  .pricing_area_five_price {
		padding: 16px 0px;
    	background: #f9f9fd;
	  }
  </style>
</head>

<body>
    <section class="pricing_area_five_price" id="price">
		<div class="container">
			<div class="title-four h_color text-center">
				<h2 class="wow fadeInUp">Best Investment Advice
					Invest in you</h2>
					<p class="p_color wow fadeInUp">
						Few are already making investment for their opportunities
						are you ready go step ahead???
					</p>
			</div>
		  <div class="row">
			<div class="col-md-4 col-sm-6">         
			</div> 
			<div class="col-md-4 col-sm-6">
			  <div class="price_box_two text-center wow fadeInLeft" data-wow-delay="250ms">
				<h5>Standard</h5>
				<p>Most popular choice</p>
				<div class="price_icon"><img src="img/image_02.png" alt=""></div>
				<p class="rate">₹ 5267/m</p>
				<ul class="list-unstyled plan-lists">
				  <li><span class="fa fa-check mr-2"></span>Fine Tuned Interview Answers
				   </li>
				  <li><span class="fa fa-check mr-2"></span> Multiple Mock interviews 
					</li>
				  <li><span class="fa fa-check mr-2"></span>Feedback of the interviews</li>
				  <li><span class="fa fa-check"></span>Technical Support - Coming Soon</li>
				</ul><a onclick="createPlan()" class="purchase_btn_two">Proceed</a>
				 <div class="spinner-border m-5" style="display: none;" id="loading_plan" role="status">
					<span class="visually-hidden">Loading...</span>
				 </div>
			  </div>
			</div>
			<div class="col-md-4 col-sm-6">
			</div>
		  </div>
		</div>
	  </section>
	  </div>


	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="../js/subscriptionPlan.js"></script>


	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/propper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="vendors/wow/wow.min.js"></script>
	<script src="vendors/sckroller/jquery.parallax-scroll.js"></script>
	<script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
	<script src="js/Tempmain.js"></script>

</body>

</html>
