<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InterviewHelp</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  .query_section {
    margin-top: 62px;
  }

  .login-container {
    position: relative;
    bottom: 72px;
  }

  .center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .btn-login{
    border-radius: 30px;
  }
  .answer-container{

    margin-bottom: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

  .reviews-container p {
    text-align: center;
    font-weight: 700;
    font-size: x-large;
  }
  body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
</style>

<body>

  <div>
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <img style="padding: 24px;" src="../img/istockphoto-977762310-170667a.jpg" alt="about" width="100%" height="80%">
      </div>
      <div class="col-sm-5 col-md-3">
        <p style="position: absolute;top: 200px;font-weight: bold;">Don't worry InterviewHelp Platform will assist you in preparing best for interviews & getting a job
          opportunity.</p>
      </div>
    </div>
  </div>

  <div class="login-container">
    <div class="center">
      <a href="/auth/google" class="btn btn-danger btn-login"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
  </div>

  <div class="answer-container">
    <p>Answers are fine tuned for you, so that interviewer <br> gets impressed.</p>
  </div>

  <div class="reviews-container">
    <p>Reviews:- </p>
  </div>

  <div class="feedback-queries">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <img src="../img/feedback_1.jpeg" alt="about" width="90%" height="50%">
      </div>
      <div class="col-lg-4">
        <img src="../img/3969587.jpg" alt="about" width="100%" height="80%">
      </div>
      <div class="col-lg-4">
        <img src="../img/feedback_2.jpeg" alt="about" width="100%" height="80%">
      </div>
    </div>
  </div>

  <div class="login-container mb-4 mt-4">
    <div class="center">
      <a href="/auth/google" class="btn btn-danger btn-login"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
</body>

</html>
